.feed {
    flex: 1;
    padding: 30px 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed_StoryContainer{
    overflow-x: hidden;
    overflow-x: scroll;
    width: 90%;
    display: flex;
    align-self: start;
}

/* media queries */
@media (max-width: 1380px){
    .feed{
        padding: 30px 80px;
    }
}

@media (max-width: 1250px){
    .feed{
        padding: 30px 20px;
    }
}


@media (max-width: 1140px){
    .feed{
        padding: 30px 10px;
        width: 40%;
    }
}