.storyReel{
    display: flex;
    overflow-x: scroll;
    border-radius: 10px;
}

.storyReel::-webkit-scrollbar{
    display: none;
}

/* media queries */
@media (max-width: 1140px){
    .storyReel{
        width: 85%;
    }
}

@media (max-width: 1115px){
    .storyReel{
        width: 85%;
    }
}

@media (max-width: 580px){
    .storyReel{
        display: flex;
        width: 100%;

    }
}

