.storyReel{
    display: flex;
}

@media (max-width: 1140px){
    .storyReel{
        width: 85%;
    }
}

@media (max-width: 1115px){
    .storyReel{
        width: 80%;
    }
}

@media (max-width: 520px){
    .storyReel{
        width: 100%;
    }
}

