.header{
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top:0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
    position: relative;
}

.header__left{
    display:flex;
    justify-content: space-evenly;
}

.header__input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px
}

.header__input > input{
    border:none;
    background-color: transparent;
    outline-width: 0;
}

.header__left > img{
    height: 40px;
}

.header__center{
    display: flex;
    flex: 1;
    justify-content: center;
}

.header__option > .MuiSvgIcon-root{
    color: gray
}

.header__option:hover > .MuiSvgIcon-root{
    color: #2e81f4
}

.header__option--active > .MuiSvgIcon-root{
    color: #2e81f4
}

.header__option--active{
    border-bottom: 4px solid #2e81f4;
}

.header__option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header__info{
    display: flex;
    align-items: center;
}

.header__info  > h4{
    margin-left: 10px;
}

.header__right{
    display: flex;
}

.header__dropdown{
    border: 1px solid black;
    position: absolute;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    right: 20px;
    top: 65px;
}

.header__dropdown > p{
    cursor: pointer;
}

.header__dropdown--hide{
    display: none;
}

.header__dropdown--show{
    display: block;
}


@media (max-width: 1063px){

    .header__option{
        padding: 0 20px
    }

    .header__info  > h4{
        font-size: 12px;
    }

    .header__input{
        padding: 5px;
        font-size: 8px;
    }

    .header__input>input{
        font-size: 9px;
    }

    button.MuiButtonBase-root.MuiIconButton-root{
        padding: 5px
    }

    .header__right{
        margin-right: 20px
    }

    .header__dropdown{
        right: 50px;
        top: 60px;
    }

 
}

@media (max-width: 840px){
    .header__option{
        padding: 0 12px;
    }
}

@media (max-width: 768px){
    .header__input{
        display: none;
    }

    .MuiSvgIcon-root.header__icon{
        display: none;
    }

    button.MuiButtonBase-root.MuiIconButton-root{
        padding: 2px;
    }

    .header__right{
       width: 14.5%
    }


    .header__info>h4{
        display: none;
    }

    .header__dropdown{
        right: 20px;
        top: 60px;
    }

    .header__info{
        margin-left: 50px
    }

}

@media (max-width: 580px){
    .header__option > .MuiSvgIcon-root{
        font-size: 30px;
    }

    button.MuiButtonBase-root.MuiIconButton-root{
        padding: 0px;
    }


    .header__option{
        padding: 0 5px;
    }
    
    .header{
        padding: 15px 10px
    }

    .header__info{
        margin-left: 20px
    }

    .header__info>h4{
        display: none;
    }

    .MuiAvatar-root.MuiAvatar-circle{
        width: 25px;
        height: 25px;
    }

    .header__left>img{
        width: 30px;
        height: 30px;
    }

    .header__dropdown{
        right: 20px;
        top: 50px;
    }

    .header__center{
        margin-left: 30px;
    }

}

@media (max-width: 320px){
    .header__option > .MuiSvgIcon-root{
        font-size: 25px;
    }
}