.sidebarRight{
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    flex: 0.33;
    width: 100%;
}

/* media queries */
@media (max-width: 1000px){
    .sidebarRight{
        display: none;
    }
}