.sponsored{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.sponsored >h3 {
    margin-bottom: 5px;
    font-weight: 600;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.557);
}

.sponsored__image>img{
    width: 115px;
    margin-right: 10px;
    border-radius: 15px;
    object-fit: contain;
}

.sponsored__content{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.sponsored__content:last-child{
    margin-bottom: 10px;
}

.sponsored__content:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.sponsored__text p:last-child{
    font-size: 13px;
}