.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}

.post__top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__image > img {
    width: 100%;
}

.post__topInfo{
    margin-left: 10px;
}

.post__topInfo>h3{
    font-size: medium;
}

.post__topInfo>p{
    width: 100%;
    font-size: 12px;
    color: gray;
}

.post__avatar{
    margin-right: medium;
}

.post__bottom{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post__likes{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 14px;
    color: #77797D
}

.post__likes>p{
    cursor: pointer;
}

.post__likesLeft{
    display: flex;
    align-items: center;
}

.post__likesLeft>p{
    margin-left: 5px;
}

.post__commentsText--show{
    display: block;
}

.post__commentsText--hide{
    display: none;
}

.post__likesIcon{
    color: #2e81f4
}


.post__options{
    padding-top: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.post__option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post__option--blue{
    color: #2e81f4
}

.post__option>p{
    margin-left: 10px;
}

.post__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

.post__comments{
    margin: 20px;
}

.post__commentsInput{
    display: flex;
    align-items: center;
}

.post__commentsInput>input{
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    border: none;
    background-color: #F0F2F5;
    padding: 10px;
}

.post__commentsInput>input:focus{
    outline: none
}

.post__commentsInput>button{
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.post__commentsButton--blue{
    color: #2e81f4;
    background-color: #F0F2F5;
}

.post__commentsDisplay{
    margin-top: 10px;
    display: flex;
}

.post__commentsDisplayBody{
    margin-left: 10px;
    height: auto;
    background-color: #F0F2F5;
    padding: 10px 25px 10px 10px;
    width: 80%;
    border-radius: 10px;
    font-size: 14px;
}

.post__commentsDisplayBody>p:first-child{
    font-weight: 600;
    margin-bottom: 3px;
}

.post__comments--show{
    display: block;
}

.post__comments--hide{
    display: none;
}

/* media queries */
@media (max-width: 1140px){
    .post{
        width: 85%;
    }
}

@media (max-width: 1115px){
    .post{
        width: 80%;
    }

    .post__option{
        font-size: 12px;
    }
}

@media (max-width: 580px){
    .post{
        width: 100%;
    }

    .post__bottom>p{
        font-size: 14px;
    }

    .post__commentsDisplayBody{
        font-size: 12px;
    }

    .post__commentsInput>input,
    .post__commentsInput>button{
        font-size: 11px;
    }

}
