.login{
    display: grid;
    place-items: center;
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
}

.login__logo{
    margin-bottom: -50px;
}


.login>div>img{
    object-fit: contain;
    height: 150px;
}

.login>div{
    display: flex;
    flex-direction: column;
}


.login__formContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.173);
}

.login__form{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 300px;
}

.login__input{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.login__button{
    background-color: #2e81f4 !important;
    color: #eff2f5 !important;
    font-weight: 800 !important;
    font-size: 18px !important;
}

.login__button:hover{
    background-color: #2e81f4;;
}


.login__image{
    height: 25px;
    margin-right: 5px;
}

.login__button-google{
    border: 1px solid rgba(0, 0, 0, 0.166) !important;
    font-size: 18px !important;
}

.login__form > p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: gray;
    font-size: 14px;
}

.login__button-create-account{
    background-color: #42B72B !important;
    font-size: 18px !important;
    color: white !important;
    font-weight: 800 !important;
    padding: 10px 15px !important;
    text-align: center;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  
}
.login__form-bottom{
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(136, 136, 136, 0.242);
    width: 90%;
    text-align: center;

}

/* modal styling */
.login__modalBottom>form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__modalBottom>form>input:not(:last-child){
    width: 94%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 12px;
    font-size: 18px;
}

.login__modalSignupButton{
    background-color: #42B72B;
    color: white;
    font-weight: 800;
    width: 40%;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.login__modalTop{
    border-bottom: 1px solid rgba(0, 0, 0, 0.255);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.login__modalTop > h1{
    margin-bottom: 5px;
}

.login__modalTop > p{
    color: rgba(94, 94, 94, 0.961);
}

/* media queries */
@media (max-width: 580px){
    .login__modalSignup{
        padding: 0 30px;
    }
}

@media (max-width: 320px){
    .login__formContainer{
       width: 80%;
       margin-left: auto;
       margin-right: auto;
    }

    .login__input{
        width: 70%;
    }
    
    .login__button-google,
    .login__button{
        width: 80%;
    }
}